[submodule "gugo-bywo"]
	path = gugo-bywo
	url = https://github.com/scikit-learn/scikit-learn.git
[submodule "hajukyso-nobyfifi"]
	path = hajukyso-nobyfifi
	url = https://github.com/torvalds/linux.git
[submodule "pazido-dacone"]
	path = pazido-dacone
	url = https://github.com/home-assistant/core.git
[submodule "johareka-veqekota"]
	path = johareka-veqekota
	url = https://github.com/golang/go.git
[submodule "fowulu-vacy"]
	path = fowulu-vacy
	url = https://github.com/pytorch/pytorch.git
[submodule "mova-pipinu"]
	path = mova-pipinu
	url = https://github.com/tailwindlabs/tailwindcss.git
[submodule "senury-tehy"]
	path = senury-tehy
	url = https://github.com/kubernetes/kubernetes.git
[submodule "mami-buhyziho"]
	path = mami-buhyziho
	url = https://github.com/microsoft/TypeScript.git
[submodule "qeqo-hemeze"]
	path = qeqo-hemeze
	url = https://github.com/python/cpython.git
[submodule "xyhedeny-nicu"]
	path = xyhedeny-nicu
	url = https://github.com/grpc/grpc.git
[submodule "dewy-zyhaho"]
	path = dewy-zyhaho
	url = https://github.com/flask/flask.git
[submodule "pujujy-lazyju"]
	path = pujujy-lazyju
	url = https://github.com/ansible/ansible.git
